[Unit]
Description=X virtual framebuffer Service

[Service]
User=root
ExecStart=/usr/bin/Xvfb :1 -screen 0 1024x768x24

[Install]
WantedBy=multi-user.target
Alias=xvfb.service
Alias=xvfbd.service
